<% provide(:title, 'All books') %>

<p>検索</p>
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<h1>All books</h1>

<table class="list" border="1">
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>出版社</th>
    <th>ジャンル</th>
  </tr>
<ul class="">
  <% @books.each do |book| %>
    <tr>
        <td><%= link_to "#{book.title}", book, method: :get %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.genre %></td>
    </tr>
  <% end %>
</ul>
</table>
